<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groove</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('user_home_page') }}">Groove</a>
            <form class="d-flex" action="{{ url_for('search_page') }}" method="post">
                <input class="form-control me-2" type="search" placeholder="Search Songs, Albums" aria-label="Search" name="search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            <div>
                {% if user.role.name == 'user' %}
                <a class="btn btn-outline-light ms-2" href="{{ url_for('creator_register_page') }}">Become a Creator</a>
                {% endif %}
                {% if user.role.name == 'creator' %}
                <a class="btn btn-outline-light ms-2" href="{{ url_for('creator_home_page') }}">Creator Page</a>
                {% endif %}
                <a class="btn btn-outline-light ms-2" href="{{ url_for('playlists_page') }}">Your Playlists</a>
            </div>
            <div>
                <a class="btn btn-outline-light ms-2" href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>
    </nav>


    <div class="container mt-5">
        <div class="section">
            <div class="d-flex justify-content-between align-items-center">
            <h2>Recommended Tracks</h2>
            <a class="btn btn-dark" href="{{ url_for('user_home_page') }}">Show More</a>
            </div>
            <div class="row">
                {% for song in songs %}
                <div class="card mx-1" style="width: 20rem;">
                    <img src="/static/groove_logo_darkmode.png" class="card-img-top" alt="song_name">
                    <div class="card-body">
                        <h5 class="card-title">{{ song.name }}</h5>
                        <div class="row">
                            <div class="col">
                                <p class="card-subtitle mb-1">Artist - {{ song.artist }}</p>
                                <p class="card-subtitle mb-1">Genre - {{ song.genre.name }}</p>
                            </div>
                            <div class="col">
                                <p class="card-subtitle mb-1">Rating - {{ song.average_song_rating() }}</p>
                                <p class="card-subtitle mb-1"></p>Duration - {{ song.duration|format_duration }}
                            </div>
                        </div>
                        <div class="justify-content-between align-items-center">
                            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#xlModal{{ song.id }}">View Lyrics</button>
                            <a href="#" class="btn btn-dark">Play</a>
                            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ratingModal{{ song.id }}">Rate</button>
                            <div class="modal fade" id="ratingModal{{ song.id }}" tabindex="-1" aria-labelledby="ratingModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ratingModalLabel">Rate {{ song.title }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form method="POST" action="{{ url_for('rate_page', song_id=song.id) }}">
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label for="rating" class="form-label">Rating (1-5)</label>
                                                    <input type="number" class="form-control" id="rating" name="rating" min="1" max="5" required>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-dark">Submit Rating</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="xlModal{{ song.id }}" tabindex="-1" aria-labelledby="xlModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="xlModalLabel">Song Lyrics - {{ song.name }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {{ song.lyrics }}
                                        </div>
                                        <div class="modal-footer">
                                            <p>Date uploaded - {{ song.date_uploaded }}</p>
                                            <p>Artist - {{ song.artist }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="section mt-2">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Your Playlists</h2>
                <a class="btn btn-dark" href="{{ url_for('create_playlist_page') }}">Create New Playlist</a>
            </div>
            <div class="row">
                {% for playlist in playlists %}
                <div class="card mx-1" style="width: 20rem;">
                    <img src="./static/groove_logo_darkmode.png" class="card-img-top" alt="...">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ playlist.name }}</h5>
                        <p class="card-subtitle mb-2">{{ playlist.description }}</p>
                        <div class="mt-auto">
                            <a href="{{ url_for('playlist_songs_page', playlist_id=playlist.id) }}" class="btn btn-dark">View your Playlist</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <br>
        <div class="section">
            <div class="d-flex justify-content-between align-items-center">
                <h2>{{ genre.name }}</h2>
            </div>
            <div class="row">
                {% for song in genre_songs %}
                <div class="card mx-1" style="width: 20rem;">
                    <img src="./static/groove_logo_darkmode.png" class="card-img-top" alt="song_name">
                    <div class="card-body">
                        <h5 class="card-title">{{ song.name }}</h5>
                        <div class="row">
                            <div class="col">
                                <p class="card-subtitle mb-1">Artist - {{ song.artist }}</p>
                                <p class="card-subtitle mb-1">Genre - {{ song.genre.name }}</p>
                            </div>
                            <div class="col">
                                <p class="card-subtitle mb-1">Rating - {{ song.average_song_rating() }}</p>
                                <p class="card-subtitle mb-1"></p>Duration - {{ song.duration|format_duration }}
                            </div>
                        </div>
                        <div class="justify-content-between align-items-center">
                            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#xlModal{{ song.id }}">View Lyrics</button>
                            <a href="#" class="btn btn-dark">Play</a>
                            <a href="#" class="btn btn-dark">Rate</a>
                            <div class="modal fade" id="ratingModal{{ song.id }}" tabindex="-1" aria-labelledby="ratingModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ratingModalLabel">Rate {{ song.title }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <form method="POST" action="{{ url_for('rate_page', song_id=song.id) }}">
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label for="rating" class="form-label">Rating (1-5)</label>
                                                    <input type="number" class="form-control" id="rating" name="rating" min="1" max="5" required>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-dark">Submit Rating</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="xlModal{{ song.id }}" tabindex="-1" aria-labelledby="xlModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="xlModalLabel">Song Lyrics - {{ song.name }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {{ song.lyrics }}
                                        </div>
                                        <div class="modal-footer">
                                            <p>Date uploaded - {{ song.date_uploaded }}</p>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="section">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Top Albums</h2>
            </div>
            <div class="row">
                {% for album in albums %}
                <div class="card mx-1" style="width: 20rem;">
                    <img src="./static/groove_logo_darkmode.png" class="card-img-top" alt="album_image">
                    <div class="card-body">
                        <h5 class="card-title">{{ album.name }}</h5>
                        <p class="card-subtitle mb-1">Artist - {{ album.artist }}</p>
                    </div>
                    <div class="mx-3">
                            <a href="#" class="btn btn-dark">View Album</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
